<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transporter List</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 text-gray-900">
    <div class="max-w-7xl mx-auto p-6 bg-white shadow-md rounded-lg mt-10">
        <div class="flex items-center justify-between mb-6">
            <!-- Left Side: Go To Dashboard Button and Filter Form -->
            <div class="flex items-center space-x-2"> <!-- Reduced space-x-4 to space-x-2 -->
                <button class="bg-green-500 text-white p-3 rounded-lg 
                        hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2"
                    onclick="window.location.href='userDashboard'">
                    Go To Dashboard
                </button>
                <form method="get" action="{{ url_for('confirmation') }}" class="flex items-center space-x-2"> <!-- Reduced space-x-4 to space-x-2 -->
                    <input type="text" name="reference" placeholder="Search by Reference" class="p-2 border border-gray-300 rounded-md" />
                    <button type="submit" name="action" value="search" class="bg-green-500 text-white py-2 px-4 rounded-lg hover:bg-green-600 focus:outline-none">
                        Search
                    </button>
                    <select name="status" class="p-2 border border-gray-300 rounded-md">
                        <option value="">All Statuses</option>
                        <option value="Approved">Approved</option>
                        <option value="Waiting for Approval">Waiting for Approval</option>
                    </select>
                    <select name="date_filter" class="p-2 border border-gray-300 rounded-md">
                        <option value="">All Dates</option>
                        <option value="upcoming">Appointment in 10 Days</option>
                        <option value="past">Appointment Passed</option>
                    </select>
                    <button type="submit" name="action" value="filter" class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 focus:outline-none">
                        Filter
                    </button>
                </form>
            </div>
        </div>

        <!-- Centered Title -->
        <h1 class="text-3xl font-bold text-center mb-6 mt-10">Transporter List</h1>

        <table class="min-w-full bg-white border border-gray-300">
            <thead>
                <tr class="w-full bg-gray-200 text-gray-700">
                    <th class="py-3 px-4 text-left">No</th>
                    <th class="py-3 px-4 text-left">Transporter Name</th>
                    <th class="py-3 px-4 text-left">Reference</th>
                    <th class="py-3 px-4 text-left">Received Date</th>
                    <th class="py-3 px-4 text-left">Appointment Date</th>
                    <th class="py-3 px-4 text-left">Status</th>
                    <th class="py-3 px-4 text-left">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for document in documents %}
                <tr class="border-t border-gray-300">
                    <td class="py-3 px-4">{{ loop.index }}</td>
                    <td class="py-3 px-4">{{ document.transporter_name }}</td>
                    <td class="py-3 px-4">{{ document.reference }}</td>
                    <td class="py-3 px-4">{{ document.received_date }}</td>
                    <td class="py-3 px-4">{{ document.appointment_date }}</td>
                    <td class="py-3 px-4">
                        {% if document.status == 'Approved' %}
                        <span class="bg-green-400 text-green-900 text-sm font-medium mr-2 px-2.5 py-0.5 rounded">Approved</span>
                        {% elif document.status == 'Waiting for Approval' %}
                        <span class="bg-yellow-100 text-yellow-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded">Waiting for Approval</span>
                        {% endif %}
                    </td>
                    <td class="py-3 px-4">
                        <div class="flex space-x-2">
                            <button class="bg-blue-500 text-white font-medium py-1 px-2 rounded-md shadow hover:bg-blue-600"
                                onclick="toggleDetails('details{{ loop.index }}')">Show More</button>
                            <button class="bg-green-500 text-white font-medium py-1 px-2 rounded-md shadow hover:bg-green-600"
                                onclick="printDetails('details{{ loop.index }}')">Print</button>
                        </div>
                    </td>
                </tr>

                <tr id="details{{ loop.index }}" class="border-t border-gray-300 hidden">
                    <td colspan="6" class="py-3 px-4">
                        <div class="bg-white p-6 rounded-lg">
                            <div class="bg-gray-50 p-8 rounded-lg">
                                <h3 class="text-2xl font-semibold mb-16 text-center text-gray-800 bg-blue-100 px-4 py-2 rounded-md shadow-lg">Transport Document Details</h3>
                                <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
                                    <div>
                                        <p class="font-medium text-gray-700"> <strong>Reference Number:</strong> {{ document.reference }}</p>
                                    </div>
                                    <div>
                                        <p class="font-medium text-gray-700"><strong>From Location:</strong> {{ document.from_location }}</p>
                                    </div>
                                    <div>
                                        <p class="font-medium text-gray-700"><strong>To Location:</strong> {{ document.to_location }}</p>
                                    </div>
                                    <div>
                                        <p class="font-medium text-gray-700"><strong>Paid To:</strong> {{ document.paid_to }}</p>
                                    </div>
                                    <div>
                                        <p class="font-medium text-gray-700"><strong>Plate No:</strong> {{ document.plate_no }}</p>
                                    </div>
                                    <div>
                                        <p class="font-medium text-gray-700"><strong>Types of Product:</strong> {{ document.types_of_product }}</p>
                                    </div>
                                    <div>
                                        <p class="font-medium text-gray-700"><strong>Number of Bags:</strong> {{ document.number_of_bags }}</p>
                                    </div>
                                    <div>
                                        <p class="font-medium text-gray-700"><strong>Quintal:</strong> {{ document.quintal }}</p>
                                    </div>
                                    <div>
                                        <p class="font-medium text-gray-700"><strong>Unit Price:</strong> {{ document.unit_price }}</p>
                                    </div>
                                    <div>
                                        <p class="font-medium text-gray-700"><strong>Total Price:</strong> {{ document.total_price }}</p>
                                    </div>
                                    <div>
                                        <p class="font-medium text-gray-700"><strong>Advance Payment:</strong> {{ document.advance_payment }}</p>
                                    </div>
                                    <div>
                                        <p class="font-medium text-gray-700"><strong>Remaining Payment:</strong> {{ document.remaining_payment }}</p>
                                    </div>
                                    <div>
                                        <p class="font-medium text-gray-700"><strong>Remark:</strong> {{ document.remark or 'N/A' }}</p>
                                    </div>
                                    <div>
                                        <p class="font-medium text-gray-700"><strong>Requested By Name:</strong> {{ document.requested_by_name }}</p>
                                    </div>
                                    <div>
                                        <p class="font-medium text-gray-700"><strong>Requested By Date:</strong> {{ document.requested_by_date }}</p>
                                    </div>
                                    <div>
                                        <p class="font-medium text-gray-700"><strong>Approved By Name:</strong> {{ document.approver_name }}</p>
                                    </div>
                                    <div>
                                        <p class="font-medium text-gray-700"><strong>Approved By Date:</strong> {{ document.approval_date }}</p>
                                    </div>
                                    <div>
                                        <p class="font-medium text-gray-700"><strong>Can Be Rented:</strong> {{ document.can_be_rented or 'N/A' }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        function toggleDetails(rowId) {
            const detailsRow = document.getElementById(rowId);
            detailsRow.classList.toggle('hidden');
        }

        function printDetails(rowId) {
            const printContents = document.getElementById(rowId).innerHTML;
            const originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    </script>
</body>

</html>
